@use "../../../assets/styles/theme1" as *;

.share-btn-container {
  position: absolute;
  top: 1rem;
  left: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.share-icon {
  width: 30px;
  height: 30px;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.4));
  * {
    fill: $accent;
  }
}

.copied-message {
  margin-left: 8px;
  color: white;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.4);
  padding: 3px 8px;
  border-radius: 12px;
  font-size: 0.75rem;
  animation: fadeInOut 2s ease-in-out;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  20% {
    opacity: 1;
    transform: translateX(0);
  }
  80% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(10px);
  }
}
