// styles/_theme.scss

// Couleurs principales inspirées de Fall Guys
$primary: #c21b17; // Rouge dominant
$accent: #f9d423;  // Jaune pastel
$secondary: #7ed6df; // Bleu pastel
$bg: #f0f8ff;      // Bleu très clair
$text: #333;
$white: #ffffff;

// Styles
$border-radius: 1rem;
$shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

// Typographie
$fun-font: 'Fredoka', sans-serif;
